<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<appSettings>
	<!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
	<!-- Twitter sign-up: https://dev.twitter.com/ -->
	<add key="consumerKey" value="8X2kK03AnyxnwXE9ghixiOPhY"/>
	<add key="consumerSecret" value="q7np1ikW7jNDem7lok2PWnUL9Bd0jFPuzjAFUzb3qCroXB8dwP"/>
	<add key="accessToken" value="4867472865-2I1dI5VO8nZ8niZTm2ewMtATtMK70ulgkuuSBNL"/>
	<add key="accessTokenSecret" value="rZCsw476GQ81AMdUEOPRPeqYLm5LVJkdTLgfVW6ZbnqfN"/>
</appSettings>
</configuration>